@model RecipeViewModel

<div class="recipe">
    <h1>@Model.Recipe.Name </h1>
    <div class="ingredients">
        <h2>Ingredients</h2>
        <ul>
            @foreach (var ingredient in Model.Recipe.Ingredients)
            {
                <li>
                    <span>@ingredient.Amount @ingredient.Units</span>
                    <span>@ingredient.Name</span>
                </li>
            }
        </ul>
    </div>
        <div class="instructions">
            <h2>Instructions</h2>
            <ul>
            @foreach (var instruction in Model.Recipe.Instructions)
            {
                <li>
                    <span class="stepnumber">@instruction.Stepnumber</span>
                    <span>@instruction.Text</span>
                </li>
            }
        </ul>
    </div>
</div>